<script src='/js/jquery.min.js'>
</script>
<script src='/js/bootstrap.min.js'></script>
<script src='/js/ajax.js'></script>
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">Place sticky footer content here.</p>
    </div>
</footer>
</body>

</html>